<p-toast key="bc"></p-toast>
<p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

<div class="containerCard">
  <p-card [style]="{ width: '100%', margin: '60px auto' }">
    <ng-template pTemplate="header">
      <div
        class="headerCard flex bg-gray-300 align-items-center justify-content-around border-round p-2"
      >
        <h2 class="tituloCard">{{ title }}</h2>
        <button
          pButton
          pRipple
          label="Novo"
          class="p-button-success"
          routerLink="/produtos/novo"
        ></button>
      </div>
    </ng-template>

    <div
      class="contentCard flex bg-gray-300 align-items-center justify-content-between border-round"
    >
      <!-- Tabela aqui -->
      <div>
        <p-table
          [value]="produtos"
          responsiveLayout="stack"
          dataKey="id"
          [lazy]="true"
          (onLazyLoad)="loadCustomers($event)"
          [paginator]="true"
          [rows]="16"
          [totalRecords]="totaldeRegistros"
          [loading]="loading"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[8, 16, 32]"
          currentPageReportTemplate="Registros {first} de {last} - Total {totalRecords} registros"
          [globalFilterFields]="['id','nome']"
        >
          <!-- Cabeçalho da Tabela -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>#</th>
              <th>Nome do Produto</th>
              <th>Categoria</th>
              <th>Valor do Produto</th>
              <th>Data de Vencimento</th>
              <th>Quantidade em Estoque</th>
              <th>Perecível</th>
              <th>Ações</th>
            </tr>
          </ng-template>

          <!-- Corpo da Tabela -->
          <ng-template pTemplate="body" let-produto let-columns="columns">
            <tr>
              <td><span class="p-column-title">#</span>{{ produto.id }}</td>
              <td>
                <span class="p-column-title">Nome</span>{{ produto.nome }}
              </td>
              <td>
                <span class="p-column-title">Categoria</span>
                {{ getCategoriaDescricao(produto.categoria_id) }}
              </td>
              <td class="">
                <span class="p-column-title">valor</span>
                {{ produto.valor | currency : "BRL"}}
              </td>
              <td>
                <span class="p-column-title">Vencimento</span
                >{{ produto.vencimento | date : "dd/MM/YYYY" || "Não " }}
              </td>
              <td>
                <span class="p-column-title">Quantidade em estoque</span
                >{{ produto.quantidade_estoque }}
              </td>
              <td>
                <span class="p-column-title">Produto perecível?</span>
                <p-tag [value]="produto.perecivel ? 'Perecível' : 'Não Perecível'" [severity]="produto.perecivel ? 'warning': '' "></p-tag>
              </td>
              <td class="md:flex md:gap-3">
                <button
                  pButton
                  icon="pi pi-fw pi-pencil"
                  [routerLink]="['/produtos', produto.id]"
                ></button>
                <button
                  class="p-button-danger"
                  pButton
                  icon="pi pi-fw pi-trash"
                  (click)="onDelete(produto.id)"
                ></button>
              </td>
            </tr>
          </ng-template>

          <!-- Mensagem de Tabela Vazia -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">Nenhum produto criado.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
